$contactFontSize: 15px;
$descriptionFontSize: 18px;
.about {
  width: fit-content;
  height: -webkit-fill-available;
  margin-bottom: 1.5em;
  display: flex;
  border: 1px solid #511281;
  .imagediv {
    border-right: 1px solid #511281;
    width: 250px;
    flex-grow: 1;
    padding: 0.5em;
    img {
      padding: 1em;
      border-radius: 50%;
      width: 90%;
      height: 50%;
    }
    div {
      ul {
        list-style: none;
        padding: 0;
        font-size: $contactFontSize;
        display: flex;
        flex-direction: column;

        li {
          text-decoration: underline;
          text-underline-offset: 0.5em;
          margin-bottom: 1.5em;

          a {
            display: flex;
            flex-direction: row;
            color: #000000;
            svg {
              margin-right: 0.5em;
            }
          }
        }
      }
    }
  }
  .descriptiondiv {
    border-left: none;
    width: 80%;
    flex-grow: 5;
    h3 {
      margin: 1em 1.5em;
    }
    p {
      margin: 1em 1.5em;
      line-height: 1.5em;
      text-align: revert;
      font-size: $descriptionFontSize;
      letter-spacing: 0.3px;
      word-spacing: 10px;
      line-height: 1.5;
      text-indent: 50px;
      font-style: italic;
    }
  }
}
@import "../media_queires";
