.about {
  width: fit-content;
  height: -webkit-fill-available;
  margin-bottom: 1.5em;
  display: flex;
  border: 1px solid #511281;
  .imagediv {
    border-right: 1px solid #511281;
    width: 250px;
    flex-grow: 1;
    padding:  0.5em;
    img {
      padding: 1em;
      border-radius: 50%;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
      display: flex;
      flex-direction: column;

      li {
        text-decoration: underline;
        text-underline-offset: 0.5em;
        margin-bottom: 1.5em;

        a {
          display: flex;
          flex-direction: row;
          color: #000000;
          svg {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
  .descriptiondiv {
    border-left: none;
    width: 80%;
    flex-grow: 5;
    h3 {
      margin:1em 1.5em;
    }
    p {
      margin:1em 1.5em;
      line-height: 1.5em;
      text-align: revert;
  font-size: 18px;

    }
  }
}

@media screen and (max-width: 768px) {
  .about{
    width: auto;
    .imagediv{
    width: auto;

    }
  .descriptiondiv{
    width: auto;
    padding: 0;
  }
}}