.admin_page {
  width: 100%;
  width: 100%;
  column-gap: 16px;
  column-count: 1;
  columns: 4;
  display: flex;

  flex-wrap: wrap;
  row-gap: 10px;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 35px;

  & > div {
    width: 30%;
    min-width: 280px;
    min-height: 80px;
    height: fit-content;
    border: 0.6px solid #21094e;
    padding: 10px;
    font-size: 24px;
  }
}

@import "../media_queires";
