$toolFontSize:16px;
.headerdiv {
    border: 1px solid #511281;
    padding: 1em;
    border-bottom: none;

    h3,
    h4 {
      margin: 5px;
    }
    .tools {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      font-size: $toolFontSize;
      ;

      .counts {
        height: 30px;
        padding-left: 0.5em;
        padding-top: 5px;
      }
      .date {
        margin-top: 12px;
      }
      .tags {
        margin: 8px;
      align-self: center;

        span {
          margin-top: 2px;
          margin: 5px;
          padding: 0.3px 3px;
          border-radius: 5px;
          border: 1px solid #511281;
          background-color: #4184e41a;
        }
      }
      .socials {
        height: 30px;
        padding: 0.5em;
      }
    }
  }
  .text {
    border: 1px solid #511281;
    border-top: none;
    padding: 1em;
    padding-top: 0;
  }