.bloglist {
  flex-grow: 1;
  display: flex;
  padding-left: 5px;

  border: 1px solid #511281;
  ol {
    display: inline-block;
    width: auto;
    list-style-type: malayalam;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-right: 13px;
    li {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      align-content: flex-start;
      align-items: center;
      column-gap: 23px;
      justify-content: space-between;
      // border: 2px solid red;
      h4 {
        margin: 10px 0;
        // text-decoration: underline;
        padding-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-width: 1.1px;
      }
      .functions {
        // border:2px solid red;
        display: flex;
        column-gap: 10px;
        // display: none;

        div {
          // margin-right: 5px;
          width: fit-content;
          border: 0.5px solid red;
          padding: 2px 5px;
          border-radius: 5px;
          fill: #789dc1;
          color: #789dc1;
          cursor: pointer;
        }
        div:first-of-type {
          background: #26a641;
          fill: #cfdce8;
          color: #cfdce8;
        }
        div:last-of-type {
          background: #981616;
          fill: #cfdce8;
          color: #cfdce8;
        }
      }
    }
  }
}
@import "../media_queires";
