.bloglist {
  flex-grow: 1;
  display: flex;
  padding-left: 5px;
  flex-direction: column;
  border: 1px solid #511281;
  transition: height 0.4s ease;
  ol {

    display: inline-block;
    width: auto;
    list-style-type: malayalam;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-right: 13px;
  margin-top: 20px;

    li {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: center;
      column-gap: 23px;
      justify-content: space-between;
      h4 {
        margin: 10px 0;
        padding-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-width: 1.1px;
      }
      .functions {
        display: flex;
        column-gap: 10px;

        div {
          width: fit-content;
          padding: 2px 5px;
          border-radius: 5px;
          fill: #789dc1;
          color: #789dc1;
          cursor: pointer;
        }
        div:first-of-type {
          background: #26a641;
          fill: #cfdce8;
          color: #cfdce8;
        }
        div:last-of-type {
          background: #981616;
          fill: #cfdce8;
          color: #cfdce8;
        }
      }
    }
  }
  .arrows {
    align-self: center;
    transition: transform 0.4s linear;
    font-size: 35px;
    height: 35px;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 10px
  }
}
@import "../media_queires";
