.header {
    border: 1px solid #21094e;
  // position: fixed;
    background-color: #f1ca89;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    div {
      margin: 1.2em;
  
      a {
        width: 2em;
        height: 2em;
        cursor: pointer;
        border: 1px solid #cc9b6d;
        margin: 0.2em;
        padding: 0.3em;
        border-radius: 50%;
        transition: background-color 0.4s;
        background-position: center;
        background-size: 1em 1em;
  
        &:hover {
          transition: background-color 0.4s;
          background-color: #cc9b6d;
        }
        &:active {
          text-decoration: underline dashed #cc9b6d;
          text-underline-offset: 0.9em;
          text-decoration-thickness: 0.06em;
        }
      }
    }
  }