.navcol {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 180px;
    padding: 0.5em;
  
    // height: 100%;
    // border: 2px solid aqua;
    // background-color: #f2dac3;
    div {
      font-size: 24px;
      margin: 0.2em 0;
      padding-left: 0.3em;
      width: 90%;
      border: 1px solid #21094e;
      cursor: pointer;
      background-color: #f1ca89;
      transition: background-color 0.4s;
      a{
        color: #000;
        text-decoration: none;
      }
      &:hover {
        transition: background-color 0.4s;
        background-color: #cc9b6d;
      }
  
      // &:first-of-type {
      //   background-color: #f1ca89;
      // }
      // &:nth-child(2) {
      //   background-color: #f2dac3;
      // }
      // &:last-child {
      //   background-color: #c8c2bc;
      // }
    }
  }