.articleForm {
  display: flex;
  flex-direction: column;

  .title {
    outline: none;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #d9c5a4;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 1px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
    &:valid{
      border: 1.5px solid #3fca5d;
    }
    &:invalid{
      border: 1.5px solid #e12c2c;
      // background-image: linear-gradient(to left, #d9c5a4, #c1d39e);
    }
    &::-webkit-scrollbar{
      display: none;
    }
    
  }

  .textarea {
    outline: none;
    border: 0.2px solid #e12c2c;
    resize: vertical;
    overflow-wrap: break-word;
    padding: 10px;
    background-color: #d9c5a4;
    letter-spacing: 0.3px;
    word-spacing: 10px;
    line-height: 1.5;
    text-indent: 50px;
    font-style: italic;
    font-size: inherit;
    font-family: inherit;
    &:valid{
      border: 1.5px solid #3fca5d;
    }
    &:invalid{
      border: 1.5px solid #e12c2c;
    }
  }
  .submit {
    width: fit-content;
    align-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-self: flex-end;
    margin: 10px;
    padding: 5px;
    color: #425d0d;
    font-size: inherit;
    font-family: inherit;
    background-color: #c2d686;
    border: 1px solid #14330c;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #97ad58;
    }
  }
}

