.details {
  width: 100%;
  .list {
    animation: show-gentle 1s linear;
    div {
      border: none;
      font-size: initial;
    }
  }
  summary {
    border: 0.2px solid #1a801a;
    padding: 9px;
    margin: 11px;
  }
}

@keyframes show-gentle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
