.new_article {
  display: -moz-box;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border: 0.2px solid #1a801a;
  margin: 10px;
  padding-left: 5px;
  span {
    height: 55px;
    svg {
      margin-left: 35px;
      margin-top: 2px;
      filter: invert(0.1);
      fill: green;
    }
  }
}
