.about {
  width: fit-content;
  height: fit-content;
  display: flex;
  border: 1px solid #511281;

  .imagediv {
    // border: 1px solid #511281;
    height: fit-content;
    border-right: 1px solid #511281;
    width: 250px;
    flex-grow: 1;
    height: auto;
    padding: 0 0.5em;
    img {
      width: 90%;
      // height: 50%;
      border-radius: 50%;
      margin: 0.5em;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
      display: flex;
      flex-direction: column;

      li {
        text-decoration: underline;
        text-underline-offset: 0.5em;
        margin-bottom: 1.5em;

        a {
          display: flex;
          flex-direction: row;
          color: #000000;
          svg {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
  .descriptiondiv {
    // border: 1px solid #511281;
    border-left: none;

    width: 80%;
    flex-grow: 5;
    // height: 100%;
    // padding:1em ;
    h3 {
      margin: 1em;
    }
    p {
      margin: 1em;
      line-height: 1.5em;
      text-align: justify;
    }
  }
}
