$langFontSize: 16px;
$tabsFontSize: 16px;
$toolsFontSize: 12px;
$articleFontSize: 17px;
$userFontSize: 17px;
$userLinksFontSize: 13px;
$descriptionFontSize: 17px;
@media screen and (max-width: 768px) {
  .content {
    margin-top: 60px;
    border: none;
  }

  .about {
    width: auto;
    .imagediv {
      width: auto;
    }
    .descriptiondiv {
      width: auto;
      padding: 0;
    }
  }
  .blog {
    .article {
      padding: 0;
      border: none;
      border-left: none;

      .headerdiv {
        padding-bottom: 0;
      }
    }
  }
  .bloglist {
    border-right: none;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 2;

    div {
      position: relative;
      font-size: $langFontSize;
    }
  }
  .navcol {
    width: auto;
    flex-grow: 0;

    .tabs {
      margin-top: -52px;
      display: flex;
      font-size: $tabsFontSize;
      .admin {
        svg {
          // margin-left: -1px;
          height: 21px;
          width: 80px;
          .text {
            // transform: translate(-3px,1px)
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .about {
    display: flex;
    flex-direction: column;
    .imagediv {
      display: flex;
      border-right: none;
      img {
        width: 30%;
        align-self: center;
      }
      div {
        font-size: $userFontSize;
        margin-top: 5%;
        h4 {
          font-size: $userFontSize;
        }
        ul {
          font-size: $userLinksFontSize;
        }
      }
    }
    .descriptiondiv {
      h3 {
        font-size: $descriptionFontSize;
      }
      p {
        font-size: $descriptionFontSize;
      }
    }
  }
  .bloglist {
    border-right: 1px solid #511281;
    border-bottom: none;
  }
  .blog {
    flex-direction: column;

    .article {
      width: auto;
      .headerdiv {
        border-top: none;
        .tools {
          font-size: $toolsFontSize;
          .counts {
            padding-top: 0;
          }
        }
      }
    }
  }
  .header {
    div {
      font-size: $langFontSize;
    }
  }
  .navcol {
    .tabs {
      margin-top: -49px;
      font-size: $tabsFontSize;
      div:first-of-type {
        margin-right: 0px;
      }
    }
  }
  .content {
    margin-left: -5px;
  }
}

@media screen and (max-width: 360px) {
  .about {
    .imagediv {
      padding-bottom: 0;
      img {
        width: 25%;
        padding: 5px;
      }
      div {
        margin: 0;
      }
    }
  }
  .blog {
    .bloglist {
      ol {
        margin: 0;
      }
    }
    .article {
      font-size: $articleFontSize;
      .headerdiv {
        .tools {
          font-size: $toolsFontSize;
        }
      }
    }
  }
  .navcol {
    margin-left: -11px;
    .tabs {
      .admin {
        margin-left: -10px;

        padding-top: 0;
        padding-right: 2px;
        padding-left: 2px;
        opacity: 0;
        svg {
          // width: 70px;
          // height: 22px;
          .text {
            font-size: 12px;
            transform: translate(0px, 1px);
          }
        }
      }
      .expand {
        display: block;
        width: 12px;
        height: 12px;
        left: -10px;
      }
    }
  }
  // .content{
  .admin_page {
    div {
      width: 80%;
    }
  }
  // }
}
